/***********************TAG SELECTOR***************************/
    body {
      background-color: lightblue;
    }

    hr {
      width: 10%;
      border-style: dotted none none;
      border-color: grey;
      border-width: medium;
      height: 0px;
    }

/***********************CLASS SELECTOR***************************/
    .Lightside{
      color: red;
    }


/***********************ID SELECTOR***************************/
#heading{
  color: yellow;
}
